## Pandas | Data Parsing and Mining

#### Start out by importing the pandas library, and we'll tell Python that we're referring to it as "pd" (for the sake of brevity)

In [2]:
import pandas as pd

#### Read in a CSV file into a pandas dataframe we'll call "df"
#### The csv reading function assumes that each person is on a new line, that the variable names are at the top of the file, and all entries are separated by a column

In [35]:
df = pd.read_csv('../dataset/titanic.csv')
print df

     survived  pclass                                               name  \
0           0       3                            Braund, Mr. Owen Harris
1           1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2           1       3                             Heikkinen, Miss. Laina
3           1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4           0       3                           Allen, Mr. William Henry
5           0       3                                   Moran, Mr. James
6           0       1                            McCarthy, Mr. Timothy J
7           0       3                     Palsson, Master. Gosta Leonard
8           1       3  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9           1       2                Nasser, Mrs. Nicholas (Adele Achem)
10          1       3                    Sandstrom, Miss. Marguerite Rut
11          1       1                           Bonnell, Miss. Elizabeth
12          0       3                     Saundercock, Mr. William Henry
13          0       3                        Andersson, Mr. Anders Johan
14          0       3               Vestrom, Miss. Hulda Amanda Adolfina
15          1       2                   Hewlett, Mrs. (Mary D Kingcome)
16          0       3                               Rice, Master. Eugene
17          1       2                       Williams, Mr. Charles Eugene
18          0       3  Vander Planke, Mrs. Julius (Emelia Maria Vande...
19          1       3                            Masselmani, Mrs. Fatima
20          0       2                               Fynney, Mr. Joseph J
21          1       2                              Beesley, Mr. Lawrence
22          1       3                        McGowan, Miss. Anna "Annie"
23          1       1                       Sloper, Mr. William Thompson
24          0       3                      Palsson, Miss. Torborg Danira
25          1       3  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
26          0       3                            Emir, Mr. Farred Chehab
27          0       1                     Fortune, Mr. Charles Alexander
28          1       3                      O'Dwyer, Miss. Ellen "Nellie"
29          0       3                                Todoroff, Mr. Lalio
..        ...     ...                                                ...
861         0       2                        Giles, Mr. Frederick Edward
862         1       1  Swift, Mrs. Frederick Joel (Margaret Welles Ba...
863         0       3                  Sage, Miss. Dorothy Edith "Dolly"
864         0       2                             Gill, Mr. John William
865         1       2                           Bystrom, Mrs. (Karolina)
866         1       2                       Duran y More, Miss. Asuncion
867         0       1               Roebling, Mr. Washington Augustus II
868         0       3                        van Melkebeke, Mr. Philemon
869         1       3                    Johnson, Master. Harold Theodor
870         0       3                                  Balkic, Mr. Cerin
871         1       1   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
872         0       1                           Carlsson, Mr. Frans Olof
873         0       3                        Vander Cruyssen, Mr. Victor
874         1       2              Abelson, Mrs. Samuel (Hannah Wizosky)
875         1       3                   Najib, Miss. Adele Kiamie "Jane"
876         0       3                      Gustafsson, Mr. Alfred Ossian
877         0       3                               Petroff, Mr. Nedelio
878         0       3                                 Laleff, Mr. Kristo
879         1       1      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
880         1       2       Shelley, Mrs. William (Imanita Parrish Hall)
881         0       3                                 Markun, Mr. Johann
882         0       3                       Dahlberg, Miss. Gerda Ulrika
883         0       2                      Banfield, Mr. Frederick James
884         0       3                             Sutehall, Mr. Henry Jr
885         0       3               Rice, Mrs. William (Margaret Norton)
886         0       2                              Montvila, Rev. Juozas
887         1       1                       Graham, Miss. Margaret Edith
888         0       3           Johnston, Miss. Catherine Helen "Carrie"
889         1       1                              Behr, Mr. Karl Howell
890         0       3                                Dooley, Mr. Patrick

        sex   age  sibsp  parch            ticket      fare        cabin  \
0      male  22.0      1      0         A/5 21171    7.2500          NaN
1    female  38.0      1      0          PC 17599   71.2833          C85
2    female  26.0      0      0  STON/O2. 3101282    7.9250          NaN
3    female  35.0      1      0            113803   53.1000         C123
4      male  35.0      0      0            373450    8.0500          NaN
5      male   NaN      0      0            330877    8.4583          NaN
6      male  54.0      0      0             17463   51.8625          E46
7      male   2.0      3      1            349909   21.0750          NaN
8    female  27.0      0      2            347742   11.1333          NaN
9    female  14.0      1      0            237736   30.0708          NaN
10   female   4.0      1      1           PP 9549   16.7000           G6
11   female  58.0      0      0            113783   26.5500         C103
12     male  20.0      0      0         A/5. 2151    8.0500          NaN
13     male  39.0      1      5            347082   31.2750          NaN
14   female  14.0      0      0            350406    7.8542          NaN
15   female  55.0      0      0            248706   16.0000          NaN
16     male   2.0      4      1            382652   29.1250          NaN
17     male   NaN      0      0            244373   13.0000          NaN
18   female  31.0      1      0            345763   18.0000          NaN
19   female   NaN      0      0              2649    7.2250          NaN
20     male  35.0      0      0            239865   26.0000          NaN
21     male  34.0      0      0            248698   13.0000          D56
22   female  15.0      0      0            330923    8.0292          NaN
23     male  28.0      0      0            113788   35.5000           A6
24   female   8.0      3      1            349909   21.0750          NaN
25   female  38.0      1      5            347077   31.3875          NaN
26     male   NaN      0      0              2631    7.2250          NaN
27     male  19.0      3      2             19950  263.0000  C23 C25 C27
28   female   NaN      0      0            330959    7.8792          NaN
29     male   NaN      0      0            349216    7.8958          NaN
..      ...   ...    ...    ...               ...       ...          ...
861    male  21.0      1      0             28134   11.5000          NaN
862  female  48.0      0      0             17466   25.9292          D17
863  female   NaN      8      2          CA. 2343   69.5500          NaN
864    male  24.0      0      0            233866   13.0000          NaN
865  female  42.0      0      0            236852   13.0000          NaN
866  female  27.0      1      0     SC/PARIS 2149   13.8583          NaN
867    male  31.0      0      0          PC 17590   50.4958          A24
868    male   NaN      0      0            345777    9.5000          NaN
869    male   4.0      1      1            347742   11.1333          NaN
870    male  26.0      0      0            349248    7.8958          NaN
871  female  47.0      1      1             11751   52.5542          D35
872    male  33.0      0      0               695    5.0000  B51 B53 B55
873    male  47.0      0      0            345765    9.0000          NaN
874  female  28.0      1      0         P/PP 3381   24.0000          NaN
875  female  15.0      0      0              2667    7.2250          NaN
876    male  20.0      0      0              7534    9.8458          NaN
877    male  19.0      0      0            349212    7.8958          NaN
878    male   NaN      0      0            349217    7.8958          NaN
879  female  56.0      0      1             11767   83.1583          C50
880  female  25.0      0      1            230433   26.0000          NaN
881    male  33.0      0      0            349257    7.8958          NaN
882  female  22.0      0      0              7552   10.5167          NaN
883    male  28.0      0      0  C.A./SOTON 34068   10.5000          NaN
884    male  25.0      0      0   SOTON/OQ 392076    7.0500          NaN
885  female  39.0      0      5            382652   29.1250          NaN
886    male  27.0      0      0            211536   13.0000          NaN
887  female  19.0      0      0            112053   30.0000          B42
888  female   NaN      1      2        W./C. 6607   23.4500          NaN
889    male  26.0      0      0            111369   30.0000         C148
890    male  32.0      0      0            370376    7.7500          NaN

    embarked
0          S
1          C
2          S
3          S
4          S
5          Q
6          S
7          S
8          S
9          C
10         S
11         S
12         S
13         S
14         S
15         S
16         Q
17         S
18         S
19         C
20         S
21         S
22         Q
23         S
24         S
25         S
26         C
27         S
28         Q
29         S
..       ...
861        S
862        S
863        S
864        S
865        S
866        C
867        S
868        S
869        S
870        S
871        S
872        S
873        S
874        C
875        C
876        S
877        S
878        S
879        C
880        S
881        S
882        S
883        S
884        S
885        Q
886        S
887        S
888        S
889        C
890        Q

[891 rows x 11 columns]

#### You can view the variable/column names

In [15]:
list(df.columns.values)

['survived',
 'pclass',
 'name',
 'sex',
 'age',
 'sibsp',
 'parch',
 'ticket',
 'fare',
 'cabin',
 'embarked',
 'age_recode']

#### You can view how many data entries/cases there are

In [6]:
print len(df.index)

891

#### You can access a specific column/variable using brackets and the column name in quotations

In [7]:
print df['sex']

#or

print df.sex

0        male
1      female
2      female
3      female
4        male
5        male
6        male
7        male
8      female
9      female
10     female
11     female
12       male
13       male
14     female
15     female
16       male
17       male
18     female
19     female
20       male
21       male
22     female
23       male
24     female
25     female
26       male
27       male
28     female
29       male
        ...
861      male
862    female
863    female
864      male
865    female
866    female
867      male
868      male
869      male
870      male
871    female
872      male
873      male
874    female
875    female
876      male
877      male
878      male
879    female
880    female
881      male
882    female
883      male
884      male
885    female
886      male
887    female
888    female
889      male
890      male
Name: sex, dtype: object
0        male
1      female
2      female
3      female
4        male
5        male
6        male
7        male
8      female
9      female
10     female
11     female
12       male
13       male
14     female
15     female
16       male
17       male
18     female
19     female
20       male
21       male
22     female
23       male
24     female
25     female
26       male
27       male
28     female
29       male
        ...
861      male
862    female
863    female
864      male
865    female
866    female
867      male
868      male
869      male
870      male
871    female
872      male
873      male
874    female
875    female
876      male
877      male
878      male
879    female
880    female
881      male
882    female
883      male
884      male
885    female
886      male
887    female
888    female
889      male
890      male
Name: sex, dtype: object

#### You can also access multiple columns at once

In [8]:

print df[["sex","fare"]]

        sex      fare
0      male    7.2500
1    female   71.2833
2    female    7.9250
3    female   53.1000
4      male    8.0500
5      male    8.4583
6      male   51.8625
7      male   21.0750
8    female   11.1333
9    female   30.0708
10   female   16.7000
11   female   26.5500
12     male    8.0500
13     male   31.2750
14   female    7.8542
15   female   16.0000
16     male   29.1250
17     male   13.0000
18   female   18.0000
19   female    7.2250
20     male   26.0000
21     male   13.0000
22   female    8.0292
23     male   35.5000
24   female   21.0750
25   female   31.3875
26     male    7.2250
27     male  263.0000
28   female    7.8792
29     male    7.8958
..      ...       ...
861    male   11.5000
862  female   25.9292
863  female   69.5500
864    male   13.0000
865  female   13.0000
866  female   13.8583
867    male   50.4958
868    male    9.5000
869    male   11.1333
870    male    7.8958
871  female   52.5542
872    male    5.0000
873    male    9.0000
874  female   24.0000
875  female    7.2250
876    male    9.8458
877    male    7.8958
878    male    7.8958
879  female   83.1583
880  female   26.0000
881    male    7.8958
882  female   10.5167
883    male   10.5000
884    male    7.0500
885  female   29.1250
886    male   13.0000
887  female   30.0000
888  female   23.4500
889    male   30.0000
890    male    7.7500

[891 rows x 2 columns]

#### You can view either the first N or last N set of rows

In [10]:
N = 5

print df.head(2)

   survived  pclass                                               name  \
0         0       3                            Braund, Mr. Owen Harris
1         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...

      sex   age  sibsp  parch     ticket     fare cabin embarked
0    male  22.0      1      0  A/5 21171   7.2500   NaN        S
1  female  38.0      1      0   PC 17599  71.2833   C85        C

In [ ]:
print df.tail(N)

#### You can recode a variable by mapping on the old value to new values

In [11]:
df['pclass'] = df["pclass"].astype("str")
df["pclass"].replace({'1': 'upper', '2' : 'middle', '3' : "lower"})

0       lower
1       upper
2       lower
3       upper
4       lower
5       lower
6       upper
7       lower
8       lower
9      middle
10      lower
11      upper
12      lower
13      lower
14      lower
15     middle
16      lower
17     middle
18      lower
19      lower
20     middle
21     middle
22      lower
23      upper
24      lower
25      lower
26      lower
27      upper
28      lower
29      lower
        ...
861    middle
862     upper
863     lower
864    middle
865    middle
866    middle
867     upper
868     lower
869     lower
870     lower
871     upper
872     upper
873     lower
874    middle
875     lower
876     lower
877     lower
878     lower
879     upper
880    middle
881     lower
882     lower
883    middle
884     lower
885     lower
886    middle
887     upper
888     lower
889     upper
890     lower
Name: pclass, dtype: object

In [17]:
df.ix[df.age >= 18, 'age_recode'] = "adult"
df.ix[df.age < 18, 'age_recode'] = "child"
df.columns.values

array(['survived', 'pclass', 'name', 'sex', 'age', 'sibsp', 'parch',
       'ticket', 'fare', 'cabin', 'embarked', 'age_recode'], dtype=object)

#### You can create new variables

In [18]:
df["familymembers"] = df["sibsp"] + df["parch"] 
print df[["sibsp","parch","familymembers"]]

     sibsp  parch  familymembers
0        1      0              1
1        1      0              1
2        0      0              0
3        1      0              1
4        0      0              0
5        0      0              0
6        0      0              0
7        3      1              4
8        0      2              2
9        1      0              1
10       1      1              2
11       0      0              0
12       0      0              0
13       1      5              6
14       0      0              0
15       0      0              0
16       4      1              5
17       0      0              0
18       1      0              1
19       0      0              0
20       0      0              0
21       0      0              0
22       0      0              0
23       0      0              0
24       3      1              4
25       1      5              6
26       0      0              0
27       3      2              5
28       0      0              0
29       0      0              0
..     ...    ...            ...
861      1      0              1
862      0      0              0
863      8      2             10
864      0      0              0
865      0      0              0
866      1      0              1
867      0      0              0
868      0      0              0
869      1      1              2
870      0      0              0
871      1      1              2
872      0      0              0
873      0      0              0
874      1      0              1
875      0      0              0
876      0      0              0
877      0      0              0
878      0      0              0
879      0      1              1
880      0      1              1
881      0      0              0
882      0      0              0
883      0      0              0
884      0      0              0
885      0      5              5
886      0      0              0
887      0      0              0
888      1      2              3
889      0      0              0
890      0      0              0

[891 rows x 3 columns]

#### You can code variables by their range

In [22]:
df['familymembers'].apply(lambda x: x**2)

0        1
1        1
2        0
3        1
4        0
5        0
6        0
7       16
8        4
9        1
10       4
11       0
12       0
13      36
14       0
15       0
16      25
17       0
18       1
19       0
20       0
21       0
22       0
23       0
24      16
25      36
26       0
27      25
28       0
29       0
      ...
861      1
862      0
863    100
864      0
865      0
866      1
867      0
868      0
869      4
870      0
871      4
872      0
873      0
874      1
875      0
876      0
877      0
878      0
879      1
880      1
881      0
882      0
883      0
884      0
885     25
886      0
887      0
888      9
889      0
890      0
Name: familymembers, dtype: int64

#### You can combine two different data sources that share a common attribute (e.g., "name")

In [26]:
survivors = df[["name","survived"]]
ticketprices = df[["name","fare"]]
merged = survivors.merge(ticketprices, left_on="name", right_on="name")
print merged

[(1, 1), (2, 2), (3, 3)]

## Examine Categorical Variables for Irregularities

#### Examine the different values entered

In [27]:
pd.unique(df["sex"])

array(['male', 'female'], dtype=object)

#### Make all string values lowercase

In [28]:
df['name'] = df['name'].apply(lambda x: x.lower())
print df['name']

0                                braund, mr. owen harris
1      cumings, mrs. john bradley (florence briggs th...
2                                 heikkinen, miss. laina
3           futrelle, mrs. jacques heath (lily may peel)
4                               allen, mr. william henry
5                                       moran, mr. james
6                                mccarthy, mr. timothy j
7                         palsson, master. gosta leonard
8      johnson, mrs. oscar w (elisabeth vilhelmina berg)
9                    nasser, mrs. nicholas (adele achem)
10                       sandstrom, miss. marguerite rut
11                              bonnell, miss. elizabeth
12                        saundercock, mr. william henry
13                           andersson, mr. anders johan
14                  vestrom, miss. hulda amanda adolfina
15                      hewlett, mrs. (mary d kingcome)
16                                  rice, master. eugene
17                          williams, mr. charles eugene
18     vander planke, mrs. julius (emelia maria vande...
19                               masselmani, mrs. fatima
20                                  fynney, mr. joseph j
21                                 beesley, mr. lawrence
22                           mcgowan, miss. anna "annie"
23                          sloper, mr. william thompson
24                         palsson, miss. torborg danira
25     asplund, mrs. carl oscar (selma augusta emilia...
26                               emir, mr. farred chehab
27                        fortune, mr. charles alexander
28                         o'dwyer, miss. ellen "nellie"
29                                   todoroff, mr. lalio
                             ...
861                          giles, mr. frederick edward
862    swift, mrs. frederick joel (margaret welles ba...
863                    sage, miss. dorothy edith "dolly"
864                               gill, mr. john william
865                             bystrom, mrs. (karolina)
866                         duran y more, miss. asuncion
867                 roebling, mr. washington augustus ii
868                          van melkebeke, mr. philemon
869                      johnson, master. harold theodor
870                                    balkic, mr. cerin
871     beckwith, mrs. richard leonard (sallie monypeny)
872                             carlsson, mr. frans olof
873                          vander cruyssen, mr. victor
874                abelson, mrs. samuel (hannah wizosky)
875                     najib, miss. adele kiamie "jane"
876                        gustafsson, mr. alfred ossian
877                                 petroff, mr. nedelio
878                                   laleff, mr. kristo
879        potter, mrs. thomas jr (lily alexenia wilson)
880         shelley, mrs. william (imanita parrish hall)
881                                   markun, mr. johann
882                         dahlberg, miss. gerda ulrika
883                        banfield, mr. frederick james
884                               sutehall, mr. henry jr
885                 rice, mrs. william (margaret norton)
886                                montvila, rev. juozas
887                         graham, miss. margaret edith
888             johnston, miss. catherine helen "carrie"
889                                behr, mr. karl howell
890                                  dooley, mr. patrick
Name: name, dtype: object

#### Fix string values that might have an extra hidden spae before or after

In [29]:
df['name'] = df['name'].apply(lambda x: x.strip())
print df['name']

0                                braund, mr. owen harris
1      cumings, mrs. john bradley (florence briggs th...
2                                 heikkinen, miss. laina
3           futrelle, mrs. jacques heath (lily may peel)
4                               allen, mr. william henry
5                                       moran, mr. james
6                                mccarthy, mr. timothy j
7                         palsson, master. gosta leonard
8      johnson, mrs. oscar w (elisabeth vilhelmina berg)
9                    nasser, mrs. nicholas (adele achem)
10                       sandstrom, miss. marguerite rut
11                              bonnell, miss. elizabeth
12                        saundercock, mr. william henry
13                           andersson, mr. anders johan
14                  vestrom, miss. hulda amanda adolfina
15                       hewlett, mrs. (mary d kingcome)
16                                  rice, master. eugene
17                          williams, mr. charles eugene
18     vander planke, mrs. julius (emelia maria vande...
19                               masselmani, mrs. fatima
20                                  fynney, mr. joseph j
21                                 beesley, mr. lawrence
22                           mcgowan, miss. anna "annie"
23                          sloper, mr. william thompson
24                         palsson, miss. torborg danira
25     asplund, mrs. carl oscar (selma augusta emilia...
26                               emir, mr. farred chehab
27                        fortune, mr. charles alexander
28                         o'dwyer, miss. ellen "nellie"
29                                   todoroff, mr. lalio
                             ...
861                          giles, mr. frederick edward
862    swift, mrs. frederick joel (margaret welles ba...
863                    sage, miss. dorothy edith "dolly"
864                               gill, mr. john william
865                             bystrom, mrs. (karolina)
866                         duran y more, miss. asuncion
867                 roebling, mr. washington augustus ii
868                          van melkebeke, mr. philemon
869                      johnson, master. harold theodor
870                                    balkic, mr. cerin
871     beckwith, mrs. richard leonard (sallie monypeny)
872                             carlsson, mr. frans olof
873                          vander cruyssen, mr. victor
874                abelson, mrs. samuel (hannah wizosky)
875                     najib, miss. adele kiamie "jane"
876                        gustafsson, mr. alfred ossian
877                                 petroff, mr. nedelio
878                                   laleff, mr. kristo
879        potter, mrs. thomas jr (lily alexenia wilson)
880         shelley, mrs. william (imanita parrish hall)
881                                   markun, mr. johann
882                         dahlberg, miss. gerda ulrika
883                        banfield, mr. frederick james
884                               sutehall, mr. henry jr
885                 rice, mrs. william (margaret norton)
886                                montvila, rev. juozas
887                         graham, miss. margaret edith
888             johnston, miss. catherine helen "carrie"
889                                behr, mr. karl howell
890                                  dooley, mr. patrick
Name: name, dtype: object

####  Fix string values that might be mispelled

In [ ]:
import difflib
df['sex'] = df['sex'].apply(lambda x: difflib.get_close_matches(x,["male","female"])[0])
print df['sex']

## Examine quantitative variables for irregularities

#### View the central tendency, variability, minimum, maximum, and quartiles to check for impossible or unexpect values

In [30]:
df["fare"].describe()

count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: fare, dtype: float64

#### View a histogram that shows the distribution of the variables.

In [32]:
import matplotlib.pyplot as plt
plt.figure();
df["fare"].plot.hist(alpha=0.5)
plt.show()

#### Restrict the values that data can take (upper and lower limits)

In [33]:
df.loc[:,'age'] = df['age'].clip(lower=0, upper=100)

## Handling Missing Data

#### Checking for missing data

In [34]:
missing_count = df['age'].isnull().sum()
print missing_count

missing_data = df[pd.isnull(df['age'])]
print missing_data

177
     survived pclass                                            name     sex  \
5           0      3                                moran, mr. james    male
17          1      2                    williams, mr. charles eugene    male
19          1      3                         masselmani, mrs. fatima  female
26          0      3                         emir, mr. farred chehab    male
28          1      3                   o'dwyer, miss. ellen "nellie"  female
29          0      3                             todoroff, mr. lalio    male
31          1      1  spencer, mrs. william augustus (marie eugenie)  female
32          1      3                        glynn, miss. mary agatha  female
36          1      3                                mamee, mr. hanna    male
42          0      3                             kraeff, mr. theodor    male
45          0      3                        rogers, mr. william john    male
46          0      3                               lennon, mr. denis    male
47          1      3                       o'driscoll, miss. bridget  female
48          0      3                             samaan, mr. youssef    male
55          1      1                               woolner, mr. hugh    male
64          0      1                           stewart, mr. albert a    male
65          1      3                        moubarek, master. gerios    male
76          0      3                               staneff, mr. ivan    male
77          0      3                        moutal, mr. rahamin haim    male
82          1      3                  mcdermott, miss. brigdet delia  female
87          0      3                   slocovski, mr. selman francis    male
95          0      3                     shorney, mr. charles joseph    male
101         0      3                petroff, mr. pastcho ("pentcho")    male
107         1      3                          moss, mr. albert johan    male
109         1      3                             moran, miss. bertha  female
121         0      3                      moore, mr. leonard charles    male
126         0      3                             mcmahon, mr. martin    male
128         1      3                               peter, miss. anna  female
140         0      3                   boulos, mrs. joseph (sultana)  female
154         0      3                           olsen, mr. ole martin    male
..        ...    ...                                             ...     ...
718         0      3                             mcevoy, mr. michael    male
727         1      3                        mannion, miss. margareth  female
732         0      2                            knight, mr. robert j    male
738         0      3                              ivanoff, mr. kanio    male
739         0      3                              nankoff, mr. minko    male
740         1      1                     hawksford, mr. walter james    male
760         0      3                              garfirth, mr. john    male
766         0      1                       brewe, dr. arthur jackson    male
768         0      3                             moran, mr. daniel j    male
773         0      3                                 elias, mr. dibo    male
776         0      3                                tobin, mr. roger    male
778         0      3                         kilgannon, mr. thomas j    male
783         0      3                          johnston, mr. andrew g    male
790         0      3                        keane, mr. andrew "andy"    male
792         0      3                         sage, miss. stella anna  female
793         0      1                        hoyt, mr. william fisher    male
815         0      1                                fry, mr. richard    male
825         0      3                                 flynn, mr. john    male
826         0      3                                    lam, mr. len    male
828         1      3                    mccormack, mr. thomas joseph    male
832         0      3                                  saad, mr. amin    male
837         0      3                             sirota, mr. maurice    male
839         1      1                            marechal, mr. pierre    male
846         0      3                        sage, mr. douglas bullen    male
849         1      1    goldenberg, mrs. samuel l (edwiga grabowska)  female
859         0      3                                razi, mr. raihed    male
863         0      3               sage, miss. dorothy edith "dolly"  female
868         0      3                     van melkebeke, mr. philemon    male
878         0      3                              laleff, mr. kristo    male
888         0      3        johnston, miss. catherine helen "carrie"  female

     age  sibsp  parch           ticket      fare  cabin embarked age_recode  \
5    NaN      0      0           330877    8.4583    NaN        Q        NaN
17   NaN      0      0           244373   13.0000    NaN        S        NaN
19   NaN      0      0             2649    7.2250    NaN        C        NaN
26   NaN      0      0             2631    7.2250    NaN        C        NaN
28   NaN      0      0           330959    7.8792    NaN        Q        NaN
29   NaN      0      0           349216    7.8958    NaN        S        NaN
31   NaN      1      0         PC 17569  146.5208    B78        C        NaN
32   NaN      0      0           335677    7.7500    NaN        Q        NaN
36   NaN      0      0             2677    7.2292    NaN        C        NaN
42   NaN      0      0           349253    7.8958    NaN        C        NaN
45   NaN      0      0  S.C./A.4. 23567    8.0500    NaN        S        NaN
46   NaN      1      0           370371   15.5000    NaN        Q        NaN
47   NaN      0      0            14311    7.7500    NaN        Q        NaN
48   NaN      2      0             2662   21.6792    NaN        C        NaN
55   NaN      0      0            19947   35.5000    C52        S        NaN
64   NaN      0      0         PC 17605   27.7208    NaN        C        NaN
65   NaN      1      1             2661   15.2458    NaN        C        NaN
76   NaN      0      0           349208    7.8958    NaN        S        NaN
77   NaN      0      0           374746    8.0500    NaN        S        NaN
82   NaN      0      0           330932    7.7875    NaN        Q        NaN
87   NaN      0      0  SOTON/OQ 392086    8.0500    NaN        S        NaN
95   NaN      0      0           374910    8.0500    NaN        S        NaN
101  NaN      0      0           349215    7.8958    NaN        S        NaN
107  NaN      0      0           312991    7.7750    NaN        S        NaN
109  NaN      1      0           371110   24.1500    NaN        Q        NaN
121  NaN      0      0        A4. 54510    8.0500    NaN        S        NaN
126  NaN      0      0           370372    7.7500    NaN        Q        NaN
128  NaN      1      1             2668   22.3583  F E69        C        NaN
140  NaN      0      2             2678   15.2458    NaN        C        NaN
154  NaN      0      0        Fa 265302    7.3125    NaN        S        NaN
..   ...    ...    ...              ...       ...    ...      ...        ...
718  NaN      0      0            36568   15.5000    NaN        Q        NaN
727  NaN      0      0            36866    7.7375    NaN        Q        NaN
732  NaN      0      0           239855    0.0000    NaN        S        NaN
738  NaN      0      0           349201    7.8958    NaN        S        NaN
739  NaN      0      0           349218    7.8958    NaN        S        NaN
740  NaN      0      0            16988   30.0000    D45        S        NaN
760  NaN      0      0           358585   14.5000    NaN        S        NaN
766  NaN      0      0           112379   39.6000    NaN        C        NaN
768  NaN      1      0           371110   24.1500    NaN        Q        NaN
773  NaN      0      0             2674    7.2250    NaN        C        NaN
776  NaN      0      0           383121    7.7500    F38        Q        NaN
778  NaN      0      0            36865    7.7375    NaN        Q        NaN
783  NaN      1      2       W./C. 6607   23.4500    NaN        S        NaN
790  NaN      0      0            12460    7.7500    NaN        Q        NaN
792  NaN      8      2         CA. 2343   69.5500    NaN        S        NaN
793  NaN      0      0         PC 17600   30.6958    NaN        C        NaN
815  NaN      0      0           112058    0.0000   B102        S        NaN
825  NaN      0      0           368323    6.9500    NaN        Q        NaN
826  NaN      0      0             1601   56.4958    NaN        S        NaN
828  NaN      0      0           367228    7.7500    NaN        Q        NaN
832  NaN      0      0             2671    7.2292    NaN        C        NaN
837  NaN      0      0           392092    8.0500    NaN        S        NaN
839  NaN      0      0            11774   29.7000    C47        C        NaN
846  NaN      8      2         CA. 2343   69.5500    NaN        S        NaN
849  NaN      1      0            17453   89.1042    C92        C        NaN
859  NaN      0      0             2629    7.2292    NaN        C        NaN
863  NaN      8      2         CA. 2343   69.5500    NaN        S        NaN
868  NaN      0      0           345777    9.5000    NaN        S        NaN
878  NaN      0      0           349217    7.8958    NaN        S        NaN
888  NaN      1      2       W./C. 6607   23.4500    NaN        S        NaN

     familymembers
5                0
17               0
19               0
26               0
28               0
29               0
31               1
32               0
36               0
42               0
45               0
46               1
47               0
48               2
55               0
64               0
65               2
76               0
77               0
82               0
87               0
95               0
101              0
107              0
109              1
121              0
126              0
128              2
140              2
154              0
..             ...
718              0
727              0
732              0
738              0
739              0
740              0
760              0
766              0
768              1
773              0
776              0
778              0
783              3
790              0
792             10
793              0
815              0
825              0
826              0
828              0
832              0
837              0
839              0
846             10
849              1
859              0
863             10
868              0
878              0
888              3

[177 rows x 13 columns]

#### Drop rows that have a missing value for age

In [ ]:
df = df[pd.notnull(df['age'])]
print df['age']

#### Replace missing values with the:
   1) median (middle value) for that column
   
   2) mode (most frequent value) for that column

In [ ]:
df['age_medianimpute'] = df['age'].fillna(df['age'].median())
df['age_modeimpute'] = df['age'].fillna(df['age'].mode())

#### Replace missing values with the likely value

#### Use a linear regression formula to predict what the missing value would have been

In [ ]:
from sklearn import linear_model, preprocessing
import numpy as np


sex_encoder = preprocessing.LabelEncoder().fit(df["sex"])
df['sex_coded'] = sex_encoder.transform(df["sex"])

df_complete = df.dropna()
regr = linear_model.LinearRegression()
regr.fit(df_complete[["fare","sex_coded"]],df_complete['age'])

df.loc[:,'age'] = df.apply(lambda x: regr.predict(df[["fare","sex_coded"]])[0] if pd.isnull(x['age']) else x['age'], axis=1)

#### Use the 2 most similar cases to predict what the missing value would have been

In [ ]:
from sklearn.neighbors import KNeighborsRegressor

sex_encoder = preprocessing.LabelEncoder().fit(df["sex"])
df['sex_coded'] = sex_encoder.transform(df["sex"])


pclass_encoder = preprocessing.LabelEncoder().fit(df["pclass"])
df['pclass_coded'] = pclass_encoder.transform(df["pclass"])

df_complete = df.dropna()

neigh = KNeighborsRegressor(n_neighbors=2)
neigh.fit(df_complete[["fare","sex_coded","pclass_coded","sibsp"]], df_complete["age"])

df.loc[:,'age'] = df.apply(lambda x: neigh.predict(df[["fare","sex_coded","pclass_coded","sibsp"]])[0] if pd.isnull(x['age']) else x['age'], axis=1)

## Apply the lesson

#### Import the pandas library (call it pd for short). 

#### Read in the dataset called "redwinequality.csv" in the datasets folder and save it to a dataframe called "df"

#### What are the variables collected on each wines?

#### What is the maximum and minimum pH value?

#### How does the distribution of quality ratings look like?

#### Some of the volatile acidity measurements are missing. How many of the measurements are missing? What proportion of wines are missing a volatile acidity rating?

#### Fill in the missing values for volatile acidity with the median. Create a new column with the filled in missing data. Call that column: va_medianimpute

#### Fill in the missing values for volatile acidity with using the 8 most similar cases/neighbors.  Base similarity off the variables: fixedacidity, citricacid, residualsugar, and chlorides

#### Create a new column with the filled in missing data. Call that column: va_neighborimpute

#### Load in the complete wine dataset (redwinequality_complete.csv), which has the true values for the missing values. Call the dataframe: df_true

#### Compare the absolute difference between the volatile acidity column of the complete dataset with va_medianimpute and the va_neighborimpute variables you created.

#### Which imputation method has the smallest MEAN/AVERAGE absolute difference?

#### You want to recode the chlorides as either being "high" or "low" if the chloride level is above or below (or equal to) .25. Create a new variable called: "chlorides_category" that follows those rules. Show the new coded variable next to the old numeric variable.